<!-- <a href="#" class="card" (click)="onSelected()">
    <img class="card-img-top" src="{{camp.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{camp.name}}</h5>
        <p class="card-text">{{camp.description}}</p>
    </div>
    <div class="card-footer bg-info text-white">
        <div class="row">
            <small class="col">Capacity: {{camp.capacity}}</small>
            <small class="col">Price/Night (INR): {{camp.rate}}</small>

        </div>
    </div>
</a> -->

<div 
    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <div class="image-parent">
        <img src="{{camp.image}}" class=" custom-size rounded float-left" alt="quixote">
    </div>
    <div class="flex-column mx-5">
        <div class="row">
            <div class="col-8">
                <h3>{{camp.name}}</h3>
            </div>
            <div class="col-4 text-right row" style="display:inline;">
                <h3 class="text-danger" style="display:inline;">&#x20b9;{{camp.rate}}</h3>
                <small style="display:inline;">/Night</small>
            </div>
        </div>
        <p><small>{{camp.description}}</small></p>
        <span class="badge badge-info badge-pill">Capacity: {{camp.capacity}}</span>
    </div>
    <div class="btn-group-vertical">
        <button class="btn btn-success" *ngIf="!isAuthenticated" (click)="onSelected()">Book</button>
        <button class="btn btn-danger" *ngIf="isAuthenticated" (click)="onDelete()">Delete</button>
        <button class="btn btn-info" *ngIf="isAuthenticated">Edit</button>
    </div>
</div>
