a {
    text-decoration: none !important;
    color: black;
}

.custom-size {
    height: 200px;
    width: 320px;
    float: left;
}



.rating-list li {
    float: right;
    color: rgb(247, 11, 11);
    padding: 10px 5px;
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li,
  .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }

  .custom-star li {
    color: rgb(247, 11, 11);
    padding: 10px 3px;
  }