<a href="#" class="card" (click)="onSelected()">
    <img class="card-img-top" src="{{camp.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{camp.name}}</h5>
        <p class="card-text">{{camp.description}}</p>
    </div>
    <div class="card-footer bg-info text-white">
        <div class="row">
            <small class="col">Capacity: {{camp.capacity}}</small>
            <small class="col">Price/Night (INR): {{camp.rate}}</small>

        </div>
    </div>
</a>
