<div class="container">
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
        <div class="row top-buffer">
            <div class="text-center col-sm-5">
                <br>
                <div class="custom-file">
                    <input
                        type="file" class="custom-file-input"
                        id="customFile" accept="image/*" name="file" required
                        #fileInput (change)="onFileChange(fileInput.files[0])"
                    />
                    <label class="custom-file-label" for="customFile">{{fileName}}</label>
                </div>
                <div>
                    <div class="image-top">
                        <img class="border border-secondary rounded" [src]="imageUrl" />
                    </div>
                </div>
            </div>
    
            <div class="col-sm-7 col-pad">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" #name="ngModel"
                        id="name" placeholder="Enter Camp Name" ngModel required>
                    <span class="help-block" style="color: red;" *ngIf="!name.valid && name.touched">Please Enter Name</span>
                </div>

                <div class="form-group">
                    <label for="rate">Rate Per Night (INR)</label>
                    <input type="number" class="form-control" name="rate"
                        id="rate" ngModel required>
                </div>

                <div class="form group">
                    <label for="rate">Camp Capacity</label>
                    <select class="form-control" name="capacity" ngModel required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"
                        ngModel rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!f.valid || fileName == 'No file selected'">Create</button>
            </div>
        </div>
    </form>
</div>
