<div class="my-5">
    <nav class="navbar navbar-light bg-danger justify-content-center rounded">
        <form class="form-inline">
            <span>
                <span class="text-white mr-3"> From: </span>
                <input type="date" name="CheckInDate" id="date" class="form-control">
            </span>
            <span class="mx-3">
                <span class="text-white mr-3"> To: </span>
                <input type="date" name="CheckOutDate" id="checkoutdate" class="form-control">
            </span>
    
            <span class="text-white">
                <span class="text-white mr-3"> Capacity: </span>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Any</option>
                    <option>1</option>
                    <option>2</option>
                    <option>4</option>
                    <option>8</option>
                </select>
            </span>

            <span class="ml-4">
                <button type="button" class="btn btn-success">Search</button>
            </span>
    
        </form>
    </nav>
</div>

