
<div class="form-body min-vh-100">
    <div>
        <div class="login-page">
            <div class="form">
                <div class="text-danger font-weight-bold" *ngIf="error">
                    {{ error }}
                </div>
                <div class="text-warning font-weight-bold" *ngIf="(!authForm.valid && authForm.touched)">
                    Form Invalid
                </div>
                <p class="lead">Admin Login</p>
                <hr>
                <form class="login-form" #authForm="ngForm" (ngSubmit)="onLoginClick(authForm)">
                    <input type="email" name="email" placeholder="email" required email ngModel />
                    <input type="password" name="password" placeholder="password" required required ngModel minlength="6" />
                    <button type="submit" [disabled]="!authForm.valid">login</button>
                </form>
            </div>
        </div>
    </div>
</div>